<div class="alert alert-success" role="alert">
    Fecha sin formato : {{fechaActual}}
    <hr/>
    {{fechaActual | date: 'short'}}
    <hr/>
    {{fechaActual | date: 'long'}}
    <hr/>
    {{fechaActual | date: 'fullDate'}}
    <hr/>
    {{fechaActual | date: 'medium'}}
    <hr/>
    {{fechaActual | date: 'dd/MM/yyyy'}}
    <hr/>
    {{fechaActual | date: 'HH/mm/ss'}}
</div>

<div class="alert alert-info" role="alert">
    {{nombres | uppercase}}
    <hr/>
    {{nombres | titlecase}}
    <hr/>
</div>

<div class="alert alert-warning" role="alert">
    {{monto | currency:'S/.'}}
</div>

<div class="alert alert-light" role="alert">
    {{porcentaje | percent}}
    <hr/>
    {{porcentaje | percent:'2.1-2'}}
</div>

<div class="alert alert-warning" role="alert">
    {{nombres | slice:0.4}}
</div>

<div class="alert alert-info" role="alert">
    {{persona | json}}
</div>